* {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 16px;
}

h1 {
    font-size: 32px;
}
h2 {
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 24px;
}

h4 {
    font-size: 16px;
}

body {
    align-content: center;
    width: 950px;
}

header {
    margin-top: 30px;
    text-align: center;
}

footer {
    text-align: right;
}

main {
    display: flex;
}

#side-bar {
    width: 230px;
}

#main-bar {
    width: 720px;
}

#contact-info img {
    height: 30px;
}

div.entry td.entry-left {
    width: 450px;
}

div.entry td.entry-right {
    width: 300px;
    height: 1em;
    text-align: right;
}